<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Softwen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Servername" value="Brian\SQLEXPRESS"/>
    <add key="Database" value="HOP"/>
    <add key="Username" value="brian"/>
    <add key="Password" value="brian"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <Softwen.Properties.Settings>
      <setting name="Vat" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="StoreName" serializeAs="String">
        <value>House of Polvoron</value>
      </setting>
      <setting name="StoreAddess" serializeAs="String">
        <value>Lot 12 Blk 5 Jasmin St. Don Juan Bayview Subdivision Sucat Muntinlupa City</value>
      </setting>
      <setting name="StoreWebsite" serializeAs="String">
        <value>http://www.houseofpolvoron.com/</value>
      </setting>
      <setting name="VoidKey" serializeAs="String">
        <value>678910</value>
      </setting>
      <setting name="SupplierName" serializeAs="String">
        <value>Motz Food Products Corp.</value>
      </setting>
      <setting name="SupplierAddress" serializeAs="String">
        <value>Las Piñas</value>
      </setting>
      <setting name="StoreID" serializeAs="String">
        <value>1</value>
      </setting>
    </Softwen.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
